* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
}

/*LEFT SIDE OF PAGE*/
#website-entry {
  background-color: #455a64;
  color: #fff;
  width: 50%;
  height: 100%;
}

.left-container {
  margin: auto;
  margin-top: 90px;
  width: 60%;
}

h1 {
  text-align: center;
  font-size: 50px;
}

img {
  height: auto;
  width: 80px;
  margin-left: 12px;
  margin-right: 12px;
}

form {
  margin: auto;
  width: 100%;
}

input {
  outline: none;
  border: none;
  padding: 5px;
  width: 100%;
  margin: auto;
  margin-top: 28px;
  font-size: 18px;
  color: #455a64;
}

.enter-btn:disabled {
    background-color: #ffd773;
    color: #fff;
    margin-bottom: 28px;
}

.enter-btn {
  background-color: #ffc107;
  color: #fff;
  margin-bottom: 28px;
}

.enter-btn:hover {
  background-color: #ffd773;
  color: #fff;
}

.count-info {
  width: 100%;
  margin: auto;
  display: block;
  justify-content: space-between;
  margin-top: 72px;
  /*visibility: hidden;*/
}

.total-cards,
.read-count,
.unread-count {
  display: inline-block;
  width: 31.25%;
  text-align: center;
  margin: 1%;
  background-color: #f2f4f4;
  color: #2f3d44;
  border: none;
}

.total-cards {
  margin-left: 0;
}

.unread-count{
  margin-right: 0;
}

.count-number {
  font-size: 18px;
  font-weight: 600;
}

.delete-read-btn {
  width: 100%;
  display: block;
  margin-top: 12px;
  font-size: 18px;
  padding: 5px;
  background-color: #f05a28;
  color: #fff;
  border: none;
  outline: none;
}

.error {
  background-color: #f05a28;
  padding: 5px;
  width: 100%;
  display: block;
  text-align: center;
  text-transform: uppercase;
  visibility: hidden;
}

/*RIGHT SIDE OF PAGE*/
#website-list {
  background-color: #cfd8dc;
  overflow: scroll;
  width: 50%;
}

article {
  background-color: #fff;
  border: 1.5px solid #607d8b;
  margin: 20px;
  margin-bottom: 5px;
}

h2 {
  color: #455a64;
  margin-left: 10px;
  padding: 5px;
}

.card-url-link {
  color: #607d8b;
  border-top: 1px solid #cfd8dc;
  border-bottom: 1px solid #cfd8dc;
  padding: 12px 0 12px 0;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 20px;
  text-decoration-color: #f2f4f4;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-url-link:hover {
  font-weight: 600;
  text-decoration-color: #ffc107;
}

.read-indicator {
  margin: 5px 0 10px 15px;
  outline: none;
  font-size: 15px;
  display: inline-block;
  color: #455a64;
  border: none;
}

.indicator-on {
  color: #f05a28;
  font-weight: 600;
  margin: 5px 0 10px 15px;
  outline: none;
  font-size: 15px;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #fff;
}

.indicator-on:hover {
  border-bottom: 1px solid #fff;
}

button {
  /*border-bottom: 1px solid #455a64;*/
  background-color: #fff;
  color: #455A64;
  border: none;
  border-bottom: 1px solid #cfd8dc;
  font-size: 15px;
}

.delete-card-btn {
  float: right;
  margin: 5px 15px 10px 0;
  outline: none;
}

.delete-card-btn:hover {
  border-bottom: 1px solid #ffc107;
  font-weight: 600;
}

.enter-btn:hover,
.delete-card-btn:hover,
.card-url-link:hover {
   cursor: pointer;
 }

/*MEDIA QUERIES*/

/*first breakpoint*/
@media (max-width: 1247px) {

  h1 {
    font-size: 40px;
  }

  img {
    width: 60px;
    height: auto;
  }

  .hide-link-text {
    display: none;
  }

  .total-cards,
  .read-count,
  .unread-count {
    width: 31%;
  }

  .left-container {
    margin-top: 60px;
  }

}

@media (max-width: 1019px) {

  h1 {
    font-size: 36px;
  }

  img {
    width: 50px;
    height: auto;
  }

  .left-container {
    width: 70%;
  }

}

@media (max-width: 784px) {

  h1 {
    font-size: 30px;
  }

  img {
    width: 40px;
    height: auto;
  }

  .total-cards,
  .read-count,
  .unread-count {
    width: 30.5%;
  }

  .left-container {
    width: 70%;
  }

  h2 {
    font-size: 18px;
  }

  .card-url-link {
    font-size: 16px;
  }

  .delete-card-btn,
  .read-indicator {
    font-size: 14px;
  }

  .count-info {
    margin-top: 28px;
  }
}

@media (max-width: 646px) {

  #website-entry {
    width: 100%;
    height: 100vh;
  }

  #website-list {
    width: 100%;
  }

  body {
    flex-direction: column;
  }

  .count-info {
    margin-top: 28px;
  }

  h1 {
    font-size: 40px;
  }

  img {
    width: 50px;
    height: auto;
  }

  .delete-read-btn {
    margin-bottom: 20px;
  }

}
