* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

body {
  height: 100vh;
  width: 100%;
  display: flex;

}

/*LEFT SIDE OF PAGE*/
#website-entry {
  background-color: #455a64;
  color: #fff;
  width: 50%;
  float: left;
  display: flex;
  height: 100%;
}

.left-container {
  margin: auto;
  width: 60%;
}

h1 {
  text-align: center;
  font-size: 50px;
}

img {
  height: auto;
  width: 80px;
  margin-left: 12px;
  margin-right: 12px;
}

form {
  margin: auto;
  width: 100%;
}

input {
  outline: none;
  border: none;
  padding: 5px;
  width: 100%;
  margin: auto;
  margin-top: 28px;
  font-size: 18px;
  color: #455a64;
}

.enter-btn {
    background-color: #ffd773;
    color: #fff;
    margin-bottom: 20px;
}

.enter-btn-able {
  background-color: #ffc107;
  color: #fff;
  margin-bottom: 20px;
}

.enter-btn-able:hover {
  background-color: #ffd773;
  color: #fff;
}

/*RIGHT SIDE OF PAGE*/
#website-list {
  background-color: #cfd8dc;
  overflow: scroll;
  width: 50%;
}

article {
  background-color: #fff;
  border: 1.5px solid #607d8b;
  margin: 20px;
  margin-bottom: 5px;
}

h2 {
  color: #455a64;
  margin-left: 10px;
  padding: 5px;
}

.card-url-link {
  color: #607d8b;
  border-top: 1px solid #cfd8dc;
  border-bottom: 1px solid #cfd8dc;
  padding: 12px 0 12px 0;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 20px;
  text-decoration-color: #f2f4f4;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-url-link:hover {
  font-weight: 600;
  text-decoration-color: #ffc107;
}

.read-indicator {
  margin: 5px 0 10px 15px;
  outline: none;
  font-size: 15px;
  display: inline-block;
  color: #455a64;
  border: none;
  border-bottom: 1px solid #cfd8dc;
}

.read-indicator:hover {
  border-bottom: 1px solid #ffc107;
  font-weight: 600;
}


.indicator-on {
  color: #f05a28;
  font-weight: 600;
  margin: 5px 0 10px 15px;
  outline: none;
  font-size: 15px;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #fff;
}

.indicator-on:hover {
  border-bottom: 1px solid #fff;
}

button {
  /*border-bottom: 1px solid #455a64;*/
  background-color: #fff;
  color: #455A64;
  border: none;
  border-bottom: 1px solid #cfd8dc;
  font-size: 15px;
}

.delete-btn {
  float: right;
  margin: 5px 15px 10px 0;
  outline: none;
}

.delete-btn:hover {
  border-bottom: 1px solid #ffc107;
  font-weight: 600;
}

.enter-btn:hover,
.delete-btn:hover,
.card-url-link:hover {
   cursor: pointer;
 }
